<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="MyCon"
      connectionString="Data Source=DESKTOP-SR4J92V;Initial Catalog=Northwind;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="CalisanKargoDataGrid.Properties.Settings.NorthwindConnectionString1"
      connectionString="Data Source=DESKTOP-SR4J92V;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="username" value="mesut"/>
    <add key="password" value="1234"/>
    <add key="mail" value="mesut@asd.com"/>
  </appSettings>
</configuration>